In [180]:
import pandas as pd
import numpy as np
import re

pd.set_option('display.max_colwidth', None)

df = pd.read_csv('jeopardy.csv', skipinitialspace=True)
display(df.head(10))

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,"No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves",Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,"The city of Yuma in this state has a record average of 4,055 hours of sunshine each year",Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", this company served its billionth burger",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States",John Adams
5,4680,2004-12-31,Jeopardy!,3-LETTER WORDS,$200,"In the title of an Aesop fable, this insect shared billing with a grasshopper",the ant
6,4680,2004-12-31,Jeopardy!,HISTORY,$400,"Built in 312 B.C. to link Rome & the South of Italy, it's still in use today",the Appian Way
7,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$400,"No. 8: 30 steals for the Birmingham Barons; 2,306 steals for the Bulls",Michael Jordan
8,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$400,"In the winter of 1971-72, a record 1,122 inches of snow fell at Rainier Paradise Ranger Station in this state",Washington
9,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$400,This housewares store was named for the packaging its merchandise came in & was first displayed on,Crate & Barrel

### 1. Find rows that filters the dataset for questions that contains the words "King"* or "England".

*This will display all questions that have the word 'King', 'Kingdom', or any other word that contains 'King'; as well as 'England'.

In [181]:
king_or_england = df[df.Question.str.contains('King | England')]
#.contains is case sensitive so it will only display 'King' or 'England'

display(king_or_england)

,Show Number,Air Date,Round,Category,Value,Question,Answer
116,5957,2010-07-06,Final Jeopardy!,HISTORIC WOMEN,None,"She was born in Virginia around 1596 & died in Kent, England in 1617",Pocahontas
146,3751,2000-12-18,Double Jeopardy!,PEOPLE IN HISTORY,$200,"After a 15-year stay in England, this proprietor of Pennsylvania returned to his colony in 1699",William Penn
296,4931,2006-02-06,Final Jeopardy!,FAMOUS SHIPS,None,"On December 27, 1831 it departed Plymouth, England to map the coastline of South America",the HMS Beagle
386,2825,1996-12-06,Jeopardy!,ANNUAL EVENTS,$500,The Tanglewood Music Festival is a summer highlight in Lenox in this New England state,Massachusetts
545,3036,1997-11-10,Jeopardy!,ON THE RADIO,$200,"Robin Quivers is the radio consort of this self-proclaimed ""King of All Media""",Howard Stern
...,...,...,...,...,...,...,...
216445,3644,2000-06-08,Final Jeopardy!,THE BIBLE,None,"According to the King James Version of the Bible, the number of people on Noah's Ark",8
216550,3038,1997-11-12,Double Jeopardy!,COLONISTS,$600,"You have to ""owe it"" to Oglethorpe; he wanted GA. to be a haven for men imprisoned for this crime in England",Having a debt
216752,5070,2006-09-29,Jeopardy!,SIGNING OFF,$200,"Upon signing his name in 1776 he said, ""There, King George will be able to read that without his spectacles""",(John) Hancock
216777,5070,2006-09-29,Double Jeopardy!,ANCIENT HISTORY,$400,The first one of these tombs was built about 2650 B.C. by Imhotep for King Zoser & rose about 200 feet using steps,a pyramid (the pyramids accepted)
216789,5070,2006-09-29,Double Jeopardy!,ANCIENT HISTORY,$1200,"This kingdom of England grew from 2 settlements, one founded around 495 by Cerdic & his son Cynric",Wessex

### 2. Find rows that only contain the words 'King' or 'England' regardless of case.

We are only looking for questions that contain just 'king' and 'England'.

In [182]:
import warnings
warnings.filterwarnings('ignore', 'This pattern has match groups')

#only_king_or_england = df[df.Question.astype(str).str.contains('King | England', case=False)]
#This almost worked, but words like 'speaking', 'peeking', etc. would be selected.

#includeKeywords = [" King ", " England "]
#only_king_or_england = df[df.Question.str.contains('|'.join(includeKeywords), case=False).any(level=0)]
#This was closer, but it would only show 'king' and 'england' that had spaces in front and behind the word.

only_king_or_england = df[df.Question.str.contains(r"\b(King|England)\b", case=False)]

display(only_king_or_england)

,Show Number,Air Date,Round,Category,Value,Question,Answer
40,4680,2004-12-31,Double Jeopardy!,DR. SEUSS AT THE MULTIPLEX,$1200,"<a href=""http://www.j-archive.com/media/2004-12-31_DJ_26.mp3"">Ripped from today's headlines, he was a turtle king gone mad; Mack was the one good turtle who'd bring him down</a>",Yertle
50,4680,2004-12-31,Double Jeopardy!,DR. SEUSS AT THE MULTIPLEX,$2000,"<a href=""http://www.j-archive.com/media/2004-12-31_DJ_24.mp3"">""500 Hats""... 500 ways to die. On July 4th, this young boy will defy a king... & become a legend</a>",Bartholomew Cubbins
116,5957,2010-07-06,Final Jeopardy!,HISTORIC WOMEN,None,"She was born in Virginia around 1596 & died in Kent, England in 1617",Pocahontas
146,3751,2000-12-18,Double Jeopardy!,PEOPLE IN HISTORY,$200,"After a 15-year stay in England, this proprietor of Pennsylvania returned to his colony in 1699",William Penn
296,4931,2006-02-06,Final Jeopardy!,FAMOUS SHIPS,None,"On December 27, 1831 it departed Plymouth, England to map the coastline of South America",the HMS Beagle
...,...,...,...,...,...,...,...
216675,3940,2001-10-19,Double Jeopardy!,"""CAB""",$600,"Stephen King's 1980 overview of the horror genre was called ""Danse"" this",Macabre
216752,5070,2006-09-29,Jeopardy!,SIGNING OFF,$200,"Upon signing his name in 1776 he said, ""There, King George will be able to read that without his spectacles""",(John) Hancock
216777,5070,2006-09-29,Double Jeopardy!,ANCIENT HISTORY,$400,The first one of these tombs was built about 2650 B.C. by Imhotep for King Zoser & rose about 200 feet using steps,a pyramid (the pyramids accepted)
216787,5070,2006-09-29,Double Jeopardy!,TALES OF E.T.A. HOFFMANN,"$2,000","A Hoffmann tale title lost the words ""And The Mouse King"" when it became this Tchaikovsky ballet",The Nutcracker
216789,5070,2006-09-29,Double Jeopardy!,ANCIENT HISTORY,$1200,"This kingdom of England grew from 2 settlements, one founded around 495 by Cerdic & his son Cynric",Wessex

### 3. Find the average of "Value" from the rows that contain 'King' or 'England'.

In [200]:
df['Float of Value'] = df.Value #this copies the value to the new column
df['Float of Value'] = df.Value.astype(str).str.lstrip('$') #strips the '$'
df['Float of Value'] = df['Float of Value'].replace(',', '', regex=True) #gets rid of the ','
df['Float of Value'] = df['Float of Value'].replace("None", "0") #replaces "None" with '0'
df['Float of Value'] = pd.to_numeric(df["Float of Value"]) #turns the numbers(strings) into floats

only_king_or_england = df[df.Question.str.contains(r"\b(King|England)\b", case=False)]
only_king_or_england_value = only_king_or_england['Float of Value'].mean()
display(only_king_or_england)
print("The average of the values that contain either 'king' or 'England' is $" + str(round(only_king_or_england_value, 2)) + ".")

,Show Number,Air Date,Round,Category,Value,Question,Answer,Year of Episode,Float of Value
40,4680,2004-12-31,Double Jeopardy!,DR. SEUSS AT THE MULTIPLEX,$1200,"<a href=""http://www.j-archive.com/media/2004-12-31_DJ_26.mp3"">Ripped from today's headlines, he was a turtle king gone mad; Mack was the one good turtle who'd bring him down</a>",Yertle,2004,1200
50,4680,2004-12-31,Double Jeopardy!,DR. SEUSS AT THE MULTIPLEX,$2000,"<a href=""http://www.j-archive.com/media/2004-12-31_DJ_24.mp3"">""500 Hats""... 500 ways to die. On July 4th, this young boy will defy a king... & become a legend</a>",Bartholomew Cubbins,2004,2000
116,5957,2010-07-06,Final Jeopardy!,HISTORIC WOMEN,None,"She was born in Virginia around 1596 & died in Kent, England in 1617",Pocahontas,2010,0
146,3751,2000-12-18,Double Jeopardy!,PEOPLE IN HISTORY,$200,"After a 15-year stay in England, this proprietor of Pennsylvania returned to his colony in 1699",William Penn,2000,200
296,4931,2006-02-06,Final Jeopardy!,FAMOUS SHIPS,None,"On December 27, 1831 it departed Plymouth, England to map the coastline of South America",the HMS Beagle,2006,0
...,...,...,...,...,...,...,...,...,...
216675,3940,2001-10-19,Double Jeopardy!,"""CAB""",$600,"Stephen King's 1980 overview of the horror genre was called ""Danse"" this",Macabre,2001,600
216752,5070,2006-09-29,Jeopardy!,SIGNING OFF,$200,"Upon signing his name in 1776 he said, ""There, King George will be able to read that without his spectacles""",(John) Hancock,2006,200
216777,5070,2006-09-29,Double Jeopardy!,ANCIENT HISTORY,$400,The first one of these tombs was built about 2650 B.C. by Imhotep for King Zoser & rose about 200 feet using steps,a pyramid (the pyramids accepted),2006,400
216787,5070,2006-09-29,Double Jeopardy!,TALES OF E.T.A. HOFFMANN,"$2,000","A Hoffmann tale title lost the words ""And The Mouse King"" when it became this Tchaikovsky ballet",The Nutcracker,2006,2000
216789,5070,2006-09-29,Double Jeopardy!,ANCIENT HISTORY,$1200,"This kingdom of England grew from 2 settlements, one founded around 495 by Cerdic & his son Cynric",Wessex,2006,1200

The average of the values that contain either 'king' or 'England' is $783.53.

### 4. Find the number of unique answers from the dataset that contains only 'king' or 'England'.

In [201]:
unique_answers = only_king_or_england['Answer'].value_counts()

print(unique_answers)

Henry VIII                      57
Solomon                         31
Louis XIV                       31
David                           29
Sweden                          25
                                ..
Church of England (Anglican)     1
Victoria & Albert Museum         1
(Scott) Joplin                   1
John James Audubon               1
Hearts in Atlantis               1
Name: Answer, Length: 2142, dtype: int64

### 5. How many questions from the 1990s use the word (or words related to) "Computer" compared to questions from the 2000s?

In [202]:
df['Year of Episode'] = pd.DatetimeIndex(df['Air Date']).year

year_1990 = df[df['Year of Episode'] == 1990]
year_1990_computer = year_1990[year_1990.Question.str.contains('Computer', case=False)]
display(year_1990_computer)
print("There are " + str(len(year_1990_computer)) + " questions that contain 'computer' in the 1990s.")

year_2000 = df[df['Year of Episode'] == 2000]
year_2000_computer = year_2000[year_2000.Question.str.contains('Computer', case=False)]
display(year_2000_computer)
print("There are " + str(len(year_2000_computer)) + " questions that contain 'computer' in the 2000s.")

,Show Number,Air Date,Round,Category,Value,Question,Answer,Year of Episode,Float of Value
85386,1322,1990-05-08,Double Jeopardy!,COMPUTERS,$400,"Like spouses who don't get along, computers that use different operating systems are said to be this",Incompatible,1990,400
141117,1318,1990-05-02,Double Jeopardy!,TECHNOLOGY,$800,The moveable lined glass on a slide rule or the blinking symbol on a computer screen,Cursor,1990,800
175433,1320,1990-05-04,Double Jeopardy!,IN THE NEWS,$200,"Garry Kasparov recently beat a computer program, Deep Thought, in a game of this",Chess,1990,200
196949,1308,1990-04-18,Jeopardy!,TECHNOLOGY,$100,"In 1981 this company introduced the PC, its first home computer",IBM,1990,100
201746,1323,1990-05-09,Jeopardy!,SCIENCE,$100,"In computerese, a ""vaccine"" is a program that seeks out & destroys these",Computer viruses,1990,100

There are 5 questions that contain 'computer' in the 1990s.

,Show Number,Air Date,Round,Category,Value,Question,Answer,Year of Episode,Float of Value
20019,3582,2000-03-14,Double Jeopardy!,DOUBLE DOUBLE LETTERS,$200,"It's the ""A"" in the RAM of your computer",Access,2000,200
20974,3647,2000-06-13,Jeopardy!,THE RATING GAME,$500,Since 1991 the Billboard charts have used this computerized system to track sales,SoundScan,2000,500
23234,3540,2000-01-14,Double Jeopardy!,COMPUSPEAK,$200,"Logically enough. sending a file from computer to network, the opposite of downloading, is called this",Uploading,2000,200
29954,3724,2000-11-09,Jeopardy!,WEIGHTS & MEASURES,$100,"Computer hard drives are usually measured in GBs, which are these",Gigabytes,2000,100
30938,3725,2000-11-10,Jeopardy!,"""the ONION""",$500,"It was a sad day when an employee of this computer company was fired for ""thinking a little too different""",Apple,2000,500
35728,3575,2000-03-03,Double Jeopardy!,ODD WORDS,$800,"From the first 6 letters at the upper left, it's the arrangement of a standard computer keyboard",QWERTY,2000,800
37641,3729,2000-11-16,Double Jeopardy!,"""V"" SHALL SEE","$3,000","Meaning word-for-word, it's also a brand of computer disk",Verbatim,2000,3000
52230,3753,2000-12-20,Double Jeopardy!,CAROLS,$400,This last name of the model & actress seen here is also on your computer keyboard,Alt,2000,400
73810,3559,2000-02-10,Jeopardy!,COUNTRIES BY COLLEGE,$100,"Max Planck Institute for Computer Science, Braunschweig Tech, The University of Augsburg",Germany,2000,100
77184,3656,2000-06-26,Jeopardy!,MEASURED IN INCHES,$200,"Computer users today usually use the 3.5"" types of these, but probably still remember the old 5.25"" type",Floppy disk,2000,200
85075,3659,2000-06-29,Jeopardy!,"""WORD"" PLAY",$400,It's the 2-word term for computer manipulation of text,Word processing,2000,400
88853,3576,2000-03-06,Jeopardy!,"THE ""ND""",$500,On a computer keyboard this symbol is usually on the same key as the 7,Ampersand,2000,500
93679,3716,2000-10-30,Jeopardy!,"FILE UNDER ""M""",$200,"A type of lizard, or a desktop computer necessity",monitor,2000,200
111369,3538,2000-01-12,Final Jeopardy!,NEOLOGISMS,None,"In his 1984 novel ""Neuromancer"", William Gibson coined this 10-letter term for a virtual reality computer network",Cyberspace,2000,0
112365,3597,2000-04-04,Double Jeopardy!,THE PC,$600,"Apple launched this popular computer line August 15, 1998",iMac,2000,600
112371,3597,2000-04-04,Double Jeopardy!,THE PC,$800,"It's the outlet that connects a computer to a keyboard or a mouse; types include serial, parallel & USB",Ports,2000,800
125362,3562,2000-02-15,Jeopardy!,COMPUTER CLASSES,$200,"SYSADMIN, one who maintains a computer network, is short for this",System administrator,2000,200
125368,3562,2000-02-15,Jeopardy!,COMPUTER CLASSES,$300,This 4-letter word from Sanskrit means someone who is a computer knowledge resource,Guru,2000,300
152726,3615,2000-04-28,Double Jeopardy!,TV MOVIES,$400,"[Hi, I'm Noah Wyle] In ""The Pirates of Silicon Valley"", I played Steve Jobs & Anthony Michael Hall played this rival computer geek",Bill Gates,2000,400
155549,3722,2000-11-07,Jeopardy!,HOW SOON WE FORGET,$500,"""Colorful"" name of the IBM computer that lost to Garry Kasparov in 1996 & beat him in '97",Deep Blue,2000,500
165052,3702,2000-10-10,Double Jeopardy!,THAT'S A MOVIE TITLE,$200,This 2000 computer virus was considerably more destructive than Herbie,The Love Bug,2000,200
167261,3679,2000-09-07,Double Jeopardy!,TO THE MAX,$200,In the 1980s this computer-generated character was featured in Coca-Cola ads & his own ABC series,Max Headroom,2000,200
179823,3706,2000-10-16,Jeopardy!,'TOON IN,$400,This first completely computer-generated feature film was released in 1995,Toy Story,2000,400
194648,3629,2000-05-18,Double Jeopardy!,QUASI-RELATED PAIRS,$1000,"The computer in the movie ""Alien"" & French Chef Julia",Mother & Child,2000,1000
204059,3535,2000-01-07,Jeopardy!,WE GET LETTERS,$500,This symbol for computer storage is equivalent to 1024 bytes,K,2000,500

There are 25 questions that contain 'computer' in the 2000s.

### 6. Is there a connection between the 'Round' and the 'Category'? Are you more likely to find the 'Technology' category(ies) in Single Jeopardy or Double Jeopardy?

In [244]:
single_jeopardy = df[df['Round'] == 'Jeopardy!']
single_jeopardy_category = single_jeopardy[single_jeopardy.Category.str.contains(r"\b(Technology)\b", case=False)]
display(single_jeopardy_category)

double_jeopardy = df[df['Round'] == 'Double Jeopardy!']
double_jeopardy_category = double_jeopardy[double_jeopardy.Category.str.contains(r"\b(Technology)\b", case=False)]
display(double_jeopardy_category)

,Show Number,Air Date,Round,Category,Value,Question,Answer,Year of Episode,Float of Value
5390,2047,1993-06-29,Jeopardy!,TECHNOLOGY,$100,"A box of 64 Crayola crayons has one of these devices ""built-in""",a sharpener,1993,100
5396,2047,1993-06-29,Jeopardy!,TECHNOLOGY,$200,"In 1835 C.S.A. Thilorier froze this gas to create the first ""dry ice""",carbon dioxide,1993,200
5402,2047,1993-06-29,Jeopardy!,TECHNOLOGY,$300,"After hearing this invention of his work, Edison said, ""I was never so taken aback in my life""",the phonograph,1993,300
5408,2047,1993-06-29,Jeopardy!,TECHNOLOGY,$400,C. Vanderbilt thought George Westinghouse's idea of stopping a train by this means a fool notion,the air brake,1993,400
5414,2047,1993-06-29,Jeopardy!,TECHNOLOGY,$500,"First built in 1960, it's also been called an optical maser",laser,1993,500
...,...,...,...,...,...,...,...,...,...
211317,1215,1989-12-08,Jeopardy!,SCIENCE & TECHNOLOGY,$100,Advertisers have discovered they can send ads instantaneously with this telephone technology,Fax Machine,1989,100
211323,1215,1989-12-08,Jeopardy!,SCIENCE & TECHNOLOGY,$200,"John Roebling designed this bridge across the East River, the oldest suspension bridge in NYC",The Brooklyn Bridge,1989,200
211329,1215,1989-12-08,Jeopardy!,SCIENCE & TECHNOLOGY,$300,"HDTV, which uses more lines to give clearer pictures, stands for this",High Definition Television,1989,300
211335,1215,1989-12-08,Jeopardy!,SCIENCE & TECHNOLOGY,$400,In 1989 scientists using a scanning tunneling microscope saw this double-stranded molecule for the 1st time,DNA,1989,400
211341,1215,1989-12-08,Jeopardy!,SCIENCE & TECHNOLOGY,$500,"GOES, INSAT & METEOSAT are satellites used for this purpose",Weather Forecasting,1989,500

,Show Number,Air Date,Round,Category,Value,Question,Answer,Year of Episode,Float of Value
6898,958,1988-11-02,Double Jeopardy!,TECHNOLOGY,$200,"Count Rumford, who died in 1814, invented the drip version of this",the coffee maker (the coffee pot accepted),1988,200
6904,958,1988-11-02,Double Jeopardy!,TECHNOLOGY,$400,Eli Whitney's nephew invented a crusher used to grind up rock for surfacing these,roads,1988,400
6910,958,1988-11-02,Double Jeopardy!,TECHNOLOGY,$600,"A fault in the rotation speed of this device produces a sound called a ""wow""",a turntable,1988,600
6916,958,1988-11-02,Double Jeopardy!,TECHNOLOGY,$800,"The ""D"" in radar stands for this",detection,1988,800
6922,958,1988-11-02,Double Jeopardy!,TECHNOLOGY,$1000,"Name given to the simplest electron tubes, as they have just 2 main parts, a plate & an emitter",a diode,1988,1000
...,...,...,...,...,...,...,...,...,...
204947,4553,2004-05-26,Double Jeopardy!,TECHNOLOGY,$400,Machine for which Glenn Curtiss produced the aileron,an airplane,2004,400
204953,4553,2004-05-26,Double Jeopardy!,TECHNOLOGY,$800,"Reportedly, the first call on a commercially sold radio pager was in 1950 to a doctor who was doing this at the time",golfing,2004,800
204959,4553,2004-05-26,Double Jeopardy!,TECHNOLOGY,"$1,200",In 1654 a famous demonstration had 2 horses trying to pull apart halves of a sphere with this inside it,a vacuum,2004,1200
204964,4553,2004-05-26,Double Jeopardy!,TECHNOLOGY,$1600,"(<a href=""http://www.j-archive.com/media/2004-05-26_DJ_05.jpg"" target=""_blank"">Alex shows off some Sony tech at Air Canada Centre in Toronto, Canada.</a>) The Sony display unit used <a href=""http://www.j-archive.com/media/2004-05-26_DJ_05a.jpg"" target=""_blank"">here</a> at Air Canada Centre & around the world has this suitably colossal name",a JumboTron,2004,1600
204968,4553,2004-05-26,Double Jeopardy!,TECHNOLOGY,$2000,Charles Proteus Steinmetz did the math & came up with a way for this type of current circuitry to work,AC (alternating current),2004,2000

You're more likely to find Technology categories in 'Jeopardy!' (also known as 'Single Jeopardy'), rather than 'Double Jeopardy!'.